<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" class="mat-progress-bar" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit Address</h1>

    <div mat-dialog-content>
        <div>
            <div>
                <mat-form-field appearance="outline" class="mrg-right">
                    <mat-label>Street</mat-label>
                    <input [disabled]="loading" matInput placeholder="Please insert your street name ..."
                        [(ngModel)]="user.street">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>House No.</mat-label>
                    <input [disabled]="loading" matInput placeholder="Please insert your house number ..."
                        [(ngModel)]="user.houseNumber">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="mrg-right">
                    <mat-label>ZIP Code</mat-label>
                    <input [disabled]="loading" matInput placeholder="Please insert your ZIP code ..."
                        [(ngModel)]="user.zipCode">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" matInput placeholder="Please insert city name ..."
                        [(ngModel)]="user.city">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
    </div>
</div>
