<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="mat-sidenav-custom" [opened]="true" mode="side">
    <div class="mat-sidnav-logo">
      <img class="mat-sidnav-logo-img" src="/assets/beekeeper_logo.png">
    </div>
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row class="mat-toolbar-custom">
        <mat-icon (click)="drawer.toggle()" class="mat-icon-custom">menu</mat-icon>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</mat-drawer-container>